[user]
	name = Juan Sanchez
	email = 14128083+dexter0323@users.noreply.github.com
[commit]
	gpgsign = true
[core]
	pager = cat
	editor = vim
[pager]
	diff = less -FX
[init]
	defaultBranch = master
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	co = checkout
	ci = commit -m
	st = status
	br = branch
	reset1 = reset HEAD~1
	pushfwl = push --force-with-lease
	mergemaster = pull origin master --no-edit
	rebasemaster = pull --rebase origin master
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	log4 = log -4 --oneline
	log10 = log -10 --oneline
	type = cat-file -t
	dump = cat-file -p
[pull]
	rebase = false
